.task-item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
    background-color: var(--main-background-color);
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.task-item:hover {
    background-color: var(--accent-color);
    scale: 1.003;
}

.task-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.task-time-left {
    align-self: center;
    justify-self: end;
}

.button-container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    margin-left: 24px;
    gap: 8px;
    border: none;
    background-color: transparent;
}

.task-details {
    display: none;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.task-description {

}

.task-date {
    justify-self: end;
}

.task-priority {

}

#edit-title-input,
#edit-desc-input,
#edit-date-input {
    box-sizing: border-box;
    width: 66%;
    min-width: 170px;
    height: 26px;
    align-self: center;
}
.edit-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

#edit-date-input {
    justify-self: end;
}

.project-confirm-button,
.project-cancel-button {
    flex-grow: 1;
    max-width: 95px;
}